<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="{% url 'sessionPlan' %}" method="post">
      {% csrf_token %}
      session  <input type="text" name="session" value="">
      <br>
      credit <input type="number" name="credit" value="">
      <br>
      <input type="submit" name="" value="Search">
    </form>



    <table>
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Offered Session</th>
      </tr>
      <tr>
        <td>
          {% for i in courseCode %}
          {{i}}
          <br>
          {% endfor %}
        </td>
        <td>{% for i in availableCourse %}
            {{i}}
            <br>
        {% endfor %}
      </td>
        <td>
          {% for i in courseCredit %}
          {{i}}
          <br>
          {% endfor %}
        </td>
      </tr>
    </table>
  </body>
</html>
